* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
#pageheader {
    background-color: #383838;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.column img {
    width:100%;
    height:auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
#pagefooter {
    background-color: #383838;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Horizontal menu */

.menu label{
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
}
.menu span{
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,.3);
    -webkit-transition: all .3s ease;
}
.menu span:hover{
    background: rgba(255,255,255,.6);
}
.menu span:before,
.menu span:after{
    content: '';
    position: absolute;
    width: 2em;
    height: .5em;
    top: 4px;
    left: 0;
    background: black;
}
.menu span:after{
    top: 14px;
}
.menu{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
nav>a{
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all .3s ease;
}
nav>a:hover{
    background: rgba(255,255,255,.9);
    color: black;
}
